doctype html
html 
    head
        title= title
        script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    body
        div
            ul User
                li Name:  #{user.firstName + " " + user.lastName}
                if user.email
                    li Email: #{user.email}
                if user.tel
                    li Tel: #{user.tel} 
            ul Pet
                li Name: #{pet.name}
                li type: #{pet.type}
                if pet.gender
                    li Gender: #{pet.gender}
                if pet.age
                    li Age: #{pet.age}
                if pet.remarkable
                    li Remarkable: #{pet.remarkable}
            input(type="hidden", id="petid", value=pet._id)
        //- div
        //-     form(name="reportlocation", method="post", action="/reportlocation/" + pet._id)
        //-         input(type="submit", value="repot location")

        div
            button(onclick="reportLocation()") Report location

        script(type="text/javascript").
            function reportLocation() {
                var path = document.getElementById("petid").value;
                if (!navigator.geolocation){
                    alert("Geolocation is not supported by your browser")
                    return;
                }
                function success(position) {
                    var latitude  = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var pass = { "latitude": latitude,  "longitude": longitude }; 
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "/reportlocation/" + path , false);
                    xhttp.setRequestHeader("Content-type", "application/json");
                    xhttp.send(JSON.stringify({latitude:latitude, longitude:longitude}));
                    var response = xhttp.responseText;
                    alert(response);
                }
                function error() {
                    alert("Unable to retrieve your location")
                }
                navigator.geolocation.getCurrentPosition(success, error);
            }
        

    