doctype html
html
    head 
        title= "report"
        script(src="../js/jquery-1.11.2.js")
    body
        div
            div
                ul
                    input(type="hidden", id="petId", value=pet._id)
                    li Type: #{pet.type}
                    li Name: #{pet.name} 
                    if (pet.gender) 
                        li Gender: #{pet.gender}
                    if (pet.age) 
                        li Age: #{pet.age}
                    if (pet.remarkable) 
                        li Remarkable: #{pet.remarkable}
            div
                textarea(id="message", cols="30", rows="10")
            div
                button(onclick="reportLost()") Report
            
            script.
                function reportLost() {
                    var petId = document.getElementById("petId").value;
                    var message = document.getElementById("message").value;
                    var pass = {
                        petId: petId,
                        message: message
                    }
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "/api/report" , false);
                    xhttp.setRequestHeader("Content-type", "application/json");
                    xhttp.send(JSON.stringify(pass));
                    var response = JSON.parse(xhttp.responseText);
                    if (response.message == 'success') {
                        window.location = "/pet/" + petId
                    } else {
                        alert(response.message)
                    }
                }